*.rbc
capybara-*.html
.rspec
world/db/*.sqlite3
world/db/*.sqlite3-journal
world/db/*.sqlite3-[0-9]*
world/public/system
world/coverage/
world/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/world/log/*
/world/tmp/*
!/world/log/.keep
!/world/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
world/config/initializers/secret_token.rb
world/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/world/.bundle
/world/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
world/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
world/public/packs
world/public/packs-test
/world/public/assets

# Ignore yarn files
/world/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/world/storage/*
!/world/storage/.keep
